#galeria {
  @include fundo(secundary);
}

.gallery-img {
  width: 100%;
  max-width: 36rem;
  max-height: 36rem;
  overflow: hidden;

  img {
    transition: all 300ms ease-in-out;
    cursor: pointer;

    &:hover {
      transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
    }
  }
}
