.home {
  @include fundo(primary);
  @extend .section;
}

.home-content {
  @extend .main-content;
  @extend .section;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: $gap;
}

.home-text-content, .home-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.home-img img {
  max-width: 100%;
  height: auto;
}