section {
  #top3 {
    @include fundo(secundary);
  }
}

.sobre-content {
  @extend .main-content;
  max-width: 64rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  margin: 0 auto;

  p {
    margin-bottom: 3rem;
  }
}